.st-table{
  display: inline; /* the default for span */
  height: 10%;
}

tr.css-34nofg-MuiTableRow-root{
  cursor: pointer;
}

.stock-cont{
  height: 100%;
}

.asset-logo-pic{
  width: 30px;
  height:30px;
  border-radius: 100%;
}