.r-field-user-sup{
  top:2rem;
  width:80%;
}

.r-field-email-sup{
  margin-top: 2rem;
  width:80%;
  top:4rem;
}

.r-field-pass-sup{
  margin-top: 2rem;
  width:80%;
  top:6rem;
}

.reg-btn-sup{
  width: 80%;
  top:8rem;
}

.redirect-su-sup{
  position: relative;
  top:10rem;
}

.errors-sup{
  position: relative;
  top:12rem;
  color:red;
}

.reg-images-sup{
  padding: 70px 0;
  text-align: center;
}


